@model Jogo_da_velha_singalR.Models.JogadorViewModel

<div class="container">

    <div class="row" id="pwd-container">
        <div class="col-md-4"></div>

        <div class="col-md-4">
            <section class="login-form">
                <div class="formulario" id="formLogin" style="min-height:200px;">
                    <div id="info" class="col-md-12">
                        @*<i class="fa fa-spinner fa-2 fa-spin" aria-hidden="true"></i> Aguarde, estabelecendo conexão...*@

                        <ul class="list-unstyled">
                            <li id="liEtapa1"><i class="fa fa-spinner fa-2 fa-spin" aria-hidden="true"></i> Estabelecendo conexão com o servidor</li>
                            <li id="liEtapa2"><i class="fa fa-minus fa-2" aria-hidden="true"></i> Aguardando adversário</li>
                            <li id="liEtapa3"><i class="fa fa-minus fa-2" aria-hidden="true"></i> Iniciando partida</li>
                        </ul>
                    </div>
                    
                </div>
            </section>
        </div>

        <div class="col-md-4"></div>


    </div>
</div>

@section scripts{ 
    <script type="text/javascript">
        var htmlLoading = '<i id="loaging" class="fa fa-spinner fa-2 fa-spin" aria-hidden="true"></i>';
        var htmlSuccess = '<i class="help-block has-success fa fa-check"></i>';
        var htmlError = '<i class="help-block has-error fa fa-warning">';

        var connection = $.connection.jogoHub;

        $.connection.hub.qs = { "Apelido": "@ViewBag.Apelido" }
        $.connection.hub.start()
        .done(function () {

            //connection.server.novoJogador("@ViewBag.Apelido");

            //Remover icone default
            $("#liEtapa1").find("i").remove();

            //Adicionar icone de etapa concluída com sucesso
            $("#liEtapa1").prepend(htmlSuccess);

            //Processando próxima etapa
            $("#liEtapa2").find('i').prop('class', 'fa fa-spinner fa-2 fa-spin');
        })
        .fail(function () {
            $("#liEtapa1").find('i').prop('class', 'help-block has-error fa fa-warning');
        });

        connection.client.NovoJogador = function () {

        }
    </script>
}